@{
    ViewData["Title"] = "Home Page";
}
@model StickerSwap.Models.HomeViewModel


<h1>New Stickers</h1>

@foreach(var product in Model.NewProducts)
{
    <img src="sticker/image/@product.Id" />
    <h2><a asp-action="Index" asp-controller="Product" asp-route-id="@product.Id">@product.Title</a> </h2>
}