
@{
    ViewData["Title"] = "How it works";
}

<h1>Step 1</h1>

<img src="~/imgs/upload.png" />

<h3>Post Your Stickers</h3>

<p>Post your stickers to Sticker Swap for other users to check out.</p>

<h1>Step 2</h1>

<img src="~/imgs/mail.png" />

<h3>Send Stickers</h3>

<p>When someone wants a sticker, send it to them and you'll get sticker credits.</p>

<h1>Step 3</h1>

<img src="~/imgs/rocket.png" />

<h3>Pick Stickers</h3>

<p>Use your credits to pick your own stickers.</p>

<h1>Want some free credits?</h1>

<h3>Receive 5 sticker credits for inviting your friend.</h3>
