
@{
    ViewData["Title"] = "What's this?";
}
    <div class="text-center">
        <img src="~/imgs/logo.png" />
    </div>

    <h1 class="display-4">What is this?</h1>

    <p class="lead">Sticker Swap is a website to swap stickers! If you have extra strickers lying around from a conference or your booth, share 'em on sticker swap and earn sticker cred! Think of it like a digital sticker swap table.</p>
    
    <h1 class="display-4">How Sticker Swap Works</h1>

    <div class="row">
        <div class="col col-lg-4 col-sm-12">
            <div class="card text-center">
                <div class="card-header">Step 1</div>
                <div class="card-body">
                    <img src="~/imgs/upload.png" />
                    <h3>Post Your Stickers</h3>
                    <p>Post your stickers to Sticker Swap for other users to check out and get sticker credits.</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-sm-12">
            <div class="card text-center">
                <div class="card-header">Step 2</div>
                <div class="card-body">
                    <img src="~/imgs/mail.png" />
                    <h3>Send Stickers</h3>
                    <p>When someone wants a sticker, send it to them a sticker.</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-sm-12">
            <div class="card text-center">
                <div class="card-header">Step 3</div>
                <div class="card-body">
                    <img src="~/imgs/rocket.png" />
                    <h3>Pick Stickers</h3>
                    <p>Use your credits to pick your own stickers. </p>
                </div>
            </div>
        </div>
    </div>

<hr/>

<h1 class="display-4 text-center">Want some free credits?</h1>

<partial name="Invite" />