<div class="row">
    <div class="col col-lg-6 offset-3">
        <div class="card">
            <div class="card-header text-center">Invite</div>
            <div class="card-body">
                <p class="lead">If your friend signs up to Sticker Swap, you'll get 5 free credits.</p>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control" />

                </div>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Invite</a>
            </div>
        </div>
    </div>
</div>
