@model StickerSwap.Models.SearchViewModel

    <form method="get" asp-action="Search" asp-controller="Sticker" class="form-inline">

        <div class="form-group mx-sm-3 mb-2">
            <input asp-for="SearchText" class="form-control" placeholder="Find Stickers!" />
        </div>
        <div class="form-group mb-2">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </form>