
@{
    ViewData["Title"] = "Share Sticker";
}
@model StickerSwap.Models.CreateProductViewModel

<h1>Share a sticker!</h1>

<form method="post" asp-action="Create" asp-controller="Product" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Height" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Height" class="form-control" />
            <span asp-validation-for="Height" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Width" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Width" class="form-control" />
            <span asp-validation-for="Width" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Quantity" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" type="file" class="form-control" style="height:auto" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <input type="submit" value="Share" class="btn btn-default" />


</form>

